---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.homeleft {
  text-align: center;
  float: left;
  width: 40%;
  height: 30%;
  margin-bottom: 20%;
  // background: #bfbfbf;
}

.homeright {
  margin-left: 45%;
  height: 30%;
  margin-bottom: 20%;
  // background: #efefef;
}
